doctype html
html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin="anonymous", type="text/javascript")
        script(src="../js/utilities.js", type="text/javascript")
        link(rel='stylesheet' href='../css/editing.css')
    body
        h1#category NYUAD Events
        div.container
            each item in data
                div.entry
                    h3 announcement
                    div.legend title
                    p.title= item.title
                    div.legend date
                    p.date= item.date
                    div.legend location
                    p.location= item.location
                    div.legend description
                    p.desc= item.description
                br
            div.footer
