doctype html
html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin="anonymous", type="text/javascript")
        script(src="../js/utilities.js", type="text/javascript")
        link(rel='stylesheet' href='../css/editing.css')
    body
        h1#category NYUAD Events
        div.container
            <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=nyuadeventful%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FDubai" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            each item in data
                div.entry
                    h3 Event
                    div.legend Title
                    p.title= item.title
                    div.legend Date
                    p.date= item.date
                    div.legend Time
                    p.time= item.startTime + ' to ' + item.endTime
                    div.legend Location
                    p.location= item.location
                    div.legend Description
                    p.desc= item.description
                    div.legend Organizer
                    p.org= item.organizer
                br
            div.footer
